/* General Blueprint Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
  font-family: 'bpicons';
  src: url('../fonts/bpicons/bpicons.eot');
  src: url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'), url('../fonts/bpicons/bpicons.woff') format('woff'), url('../fonts/bpicons/bpicons.ttf') format('truetype'), url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Made with http://icomoon.io/ */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #47a3da;
}
a {
  color: #f0f0f0;
  text-decoration: none;
}
a:hover {
  color: #000;
}
.main,
.container > header {
  width: 90%;
  max-width: 69em;
  margin: 0 auto;
  padding: 0 1.875em 3.125em 1.875em;
}
.container > header {
  padding: 2.875em 1.875em 1.875em;
}
.container > header h1 {
  font-size: 2.125em;
  line-height: 1.3;
  margin: 0 0 0.6em 0;
  float: left;
  font-weight: 400;
}
.container > header > span {
  display: block;
  position: relative;
  z-index: 9999;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  padding: 0 0 0.6em 0.1em;
}
.container > header > span span:after {
  width: 30px;
  height: 30px;
  left: -12px;
  font-size: 50%;
  top: -8px;
  font-size: 75%;
  position: relative;
}
.container > header > span span:hover:before {
  content: attr(data-content);
  text-transform: none;
  text-indent: 0;
  letter-spacing: 0;
  font-weight: 300;
  font-size: 110%;
  padding: 0.8em 1em;
  line-height: 1.2;
  text-align: left;
  left: auto;
  margin-left: 4px;
  position: absolute;
  color: #fff;
  background: #47a3da;
}
.container > header nav {
  float: right;
  text-align: center;
}
.container > header nav a {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 2.5em;
  height: 2.5em;
  background: #fff;
  border-radius: 50%;
  margin: 0 0.1em;
  border: 4px solid #47a3da;
}
.container > header nav a > span {
  display: none;
}
.container > header nav a:hover:before {
  content: attr(data-info);
  color: #47a3da;
  position: absolute;
  width: 600%;
  top: 120%;
  text-align: right;
  right: 0;
  pointer-events: none;
}
.container > header nav a:hover {
  background: #47a3da;
}
.bp-icon:after {
  font-family: 'bpicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  color: #47a3da;
  -webkit-font-smoothing: antialiased;
}
.container > header nav .bp-icon:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 2;
  text-indent: 0;
}
.container > header nav a:hover:after {
  color: #fff;
}
.bp-icon-next:after {
  content: "\e000";
}
.bp-icon-drop:after {
  content: "\e001";
}
.bp-icon-archive:after {
  content: "\e002";
}
.bp-icon-about:after {
  content: "\e003";
}
.bp-icon-prev:after {
  content: "\e004";
}
@media screen and (max-width: 55em) {
  .container > header h1,
  .container > header nav {
    float: none;
  }
  .container > header > span,
  .container > header h1 {
    text-align: center;
  }
  .container > header nav {
    margin: 0 auto;
  }
  .container > header > span {
    text-indent: 30px;
  }
}
@font-face {
  font-family: 'fontawesome';
  src: url('../fonts/fontawesome/fontawesome.eot');
  src: url('../fonts/fontawesome/fontawesome.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome/fontawesome.woff') format('woff'), url('../fonts/fontawesome/fontawesome.ttf') format('truetype'), url('../fonts/fontawesome/fontawesome.svg#fontawesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Main container */
.cbp-vm-switcher {
  padding: 20px;
  border: 3px solid #47a3da;
}
/* options/select wrapper with switch anchors */
.cbp-vm-options {
  text-align: right;
  padding-bottom: 10px;
  border-bottom: 3px solid #47a3da;
}
.cbp-vm-options a {
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  color: #d0d0d0;
  margin: 2px;
}
.cbp-vm-options a:hover,
.cbp-vm-options a.cbp-vm-selected {
  color: #47a3da;
}
.cbp-vm-options a:before {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 30px;
  text-align: center;
  display: inline-block;
}
/* General style of switch items' list */
.cbp-vm-switcher ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Clear eventual floats */
.cbp-vm-switcher ul:before,
.cbp-vm-switcher ul:after {
  content: " ";
  display: table;
}
.cbp-vm-switcher ul:after {
  clear: both;
}
.cbp-vm-switcher ul li {
  display: block;
  position: relative;
}
.cbp-vm-switcher ul li.booked * {
  color: #CECECE;
}
.cbp-vm-switcher ul li * {
  transition: all 0.2s;
}
.total-cart {
  float: left;
  font-size: 20px;
}
.cbp-vm-image {
  display: block;
  margin: 0 auto;
}
.cbp-vm-image img {
  display: inline-block;
  max-width: 100%;
  border: none;
}
.cbp-vm-title {
  margin: 0;
  padding: 0;
}
.cbp-vm-price {
  color: #c0c0c0;
}
.cbp-vm-add {
  color: #fff !important;
  padding: 10px 20px;
  border-radius: 2px;
  margin: 20px 0 0;
  display: inline-block;
  transition: background 0.2s;
}
.cbp-vm-add.add {
  background: #47a3da;
}
.cbp-vm-add.add:hover {
  color: #fff !important;
  background: #288bc6;
}
.cbp-vm-add.remove {
  background: #CECECE;
}
.cbp-vm-add.remove:hover {
  color: #fff !important;
  background: #b5b5b5;
}
.cbp-vm-add:before {
  margin-right: 5px;
}
/* Common icon styles */
.cbp-vm-icon:before {
  font-family: 'fontawesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.cbp-vm-grid:before {
  content: "\f00a";
}
.cbp-vm-list:before {
  content: "\f00b";
}
.cbp-vm-add:before {
  content: "\f055";
}
/* Individual view mode styles */
/* Large grid view */
.cbp-vm-view-grid ul {
  text-align: center;
}
.cbp-vm-view-grid ul li {
  width: 33%;
  text-align: center;
  padding: 25px;
  margin: 20px 0 0;
  display: inline-block;
  min-height: 420px;
  vertical-align: top;
}
.cbp-vm-view-grid .cbp-vm-title {
  font-size: 2em;
}
.cbp-vm-view-grid .cbp-vm-details {
  max-width: 300px;
  min-height: 70px;
  margin: 0 auto;
}
.cbp-vm-view-grid .cbp-vm-price {
  margin: 10px 0;
  font-size: 1.5em;
}
/* List view */
.cbp-vm-view-list li {
  padding: 20px 0;
  white-space: nowrap;
}
.cbp-vm-view-list .cbp-vm-image,
.cbp-vm-view-list .cbp-vm-title,
.cbp-vm-view-list .cbp-vm-details,
.cbp-vm-view-list .cbp-vm-price,
.cbp-vm-view-list .cbp-vm-add {
  display: inline-block;
  vertical-align: middle;
}
.cbp-vm-view-list .cbp-vm-image {
  width: 10%;
}
.cbp-vm-view-list .cbp-vm-title {
  font-size: 1.3em;
  padding: 0 10px;
  white-space: normal;
  width: 23%;
}
.cbp-vm-view-list .cbp-vm-price {
  font-size: 1.3em;
  width: 10%;
}
.cbp-vm-view-list .cbp-vm-details {
  width: 40%;
  padding: 0 15px;
  overflow: hidden;
  white-space: normal;
}
.cbp-vm-view-list .cbp-vm-add {
  margin: 0;
}
@media screen and (max-width: 66.7em) {
  .cbp-vm-view-list .cbp-vm-details {
    width: 30%;
  }
}
@media screen and (max-width: 57em) {
  .cbp-vm-view-grid ul li {
    width: 49%;
  }
}
@media screen and (max-width: 47.375em) {
  .cbp-vm-view-list .cbp-vm-image {
    width: 20%;
  }
  .cbp-vm-view-list .cbp-vm-title {
    width: auto;
  }
  .cbp-vm-view-list .cbp-vm-details {
    display: block;
    width: 100%;
    margin: 10px 0;
  }
  .cbp-vm-view-list .cbp-vm-add {
    margin: 10px;
  }
}
@media screen and (max-width: 40.125em) {
  .cbp-vm-view-grid ul li {
    width: 100%;
  }
}
